
#thumbnail {
    width: 10%;
  }
#title{
    width: 10%;
}
#cb{
    width: 5%;
}
.column-sponso{
    vertical-align: middle!important;
    text-align: center;
}
.column-sponso .bullet{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px ;
    background: lightgreen;
}

.column-sponso .bullet-no{
    background-color: lightcoral
}