body{
    background-color:RGB(238, 241, 243)!important;
}

.card{
    box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47!important;
}

alert alert-dismissible alert-light{
    border-radius: 15px 15px 15px 15px!important;
    box-shadow: 0 0 5px #816f47!important;
    background-color: aliceblue!important;
}
.entete{
    box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47!important;
    
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  .card-img-top {
    box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47!important;
  }

  .fond {
    background: url('image_de_fond.jpg') no-repeat ;
    position: relative; /* Le fond est fixé en haut de la page */
    width: 112%; /* Il occupe toute la largeur de l'écran */
    height: 400px; /* On met ici la même hauteur que le jumbotron */
    top: -62px;
    left: -60px;
    z-index: 1;
    background-size: 1096px 400px;
   }
   .jumbotron {
    margin-bottom: 100px;
    height: 400px;
    color: white; /* Le texte sera affiché en blanc */
    text-shadow: black 0.3em 0.3em 0.3em;
    background:transparent;
   }